{% extends 'partials/base.html' %}
{% block title %}Heatmap{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-info bg-info">
    <div class="container">
        <a class="navbar-brand text-white" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="/">Heatmap<span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            {{ map1 | safe}}
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                     <div class="col-sm-6"><h2>Data <b>Details</b></h2></div>
                    <div class="col-sm-2">
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>Cidade</th>
                    <th>População</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                {% for datas in data_list %}
                <tr>
                    <td>{{ datas.city }}</td>
                    <td>{{ datas.population}}</td>
                    <td>{{ datas.latitude }}</td>
                    <td>{{ datas.logintude }}</td>
                    <td>
                        <a href="#" class="view" title="View" data-toggle="tooltip"><i
                                class="material-icons">&#xE417;</i></a>
                        <a href="#" class="add" title="Add" data-toggle="tooltip"><i
                                class="material-icons">&#xE145;</i></a>
                        <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i
                                class="material-icons">&#xE254;</i></a>
                        <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}